<html xmlns:th="http://www.thymeleaf.org"
	>
	
	<head>
		<meta charset="utf-8"/>
		<title>Oauth2 Confirm Access</title>
	</head> 

<body>
	<div class="container">
		<h2>Please Confirm</h2>

		<p>
			Do you authorize <span th:text="${authorizationRequest.clientId}"></span>  
			at <span th:text="${authorizationRequest.redirectUri}"></span>  
			to access your protected resources
			with scope <span th:text="${#strings.arrayJoin(authorizationRequest.scope,',')}"></span> ?
		</p>
		<form id="confirmationForm" name="confirmationForm"
			action="../oauth/authorize" method="post">
			<input name="user_oauth_approval" value="true" type="hidden" />
			
			<input type="hidden" id="csrf_token" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
			
			<input type="submit" value="Approve" />

		</form>
		<form id="denyForm" name="confirmationForm"
			action="../oauth/authorize" method="post">
			<input name="user_oauth_approval" value="false" type="hidden" />
			
			<input type="hidden" id="csrf_token" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
			
			<input type="submit" value="Deny" />
			
		</form>
	</div>
</body>
</html>