<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="sprssozdemo1.libSpr.ibatisMapper.UserInfoMapper">


    
    <select id="getByIdsWithDeleted" resultType="sprssozdemo1.libSpr.domain.UserInfo">
        SELECT * FROM User
        WHERE userId in <foreach item="item" index="index" collection="list" open="(" separator="," close=")">#{item}</foreach>
    </select>
    
    <select id="getByIds" resultType="sprssozdemo1.libSpr.domain.UserInfo">
        SELECT * FROM User
        WHERE isDeleted=0 AND userId in <foreach item="item" index="index" collection="list" open="(" separator="," close=")">#{item}</foreach>
    </select>
    
    <select id="getByIds_filterInMap" resultType="sprssozdemo1.libSpr.domain.UserInfo">
        SELECT * FROM User
        WHERE nickName=#{nickName} 
            AND userId in <foreach item="item" index="index" collection="userIds" open="(" separator="," close=")">#{item}</foreach>
    </select>
    
   

</mapper>